@font-face { 
  font-family: 'Glyphicons Halflings'; 
  src: url("fonts/glyphicons-halflings-regular.eot"); 
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), 
  url("fonts/glyphicons-halflings-regular.woff") format("woff"), 
  url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), 
  url("fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); 
}

$font1 :'Cerebri';
$font2 :'Manchego';

@font-face {
  font-family: "Cerebri";
  src: url("/styles/fonts/cerebrisanspro-regular.eot");
  src: url("/styles/fonts/cerebrisanspro-regular.eot?#iefix") format("embedded-opentype"),
       url("/styles/fonts/cerebrisanspro-regular.woff") format("woff"),
       url("/styles/fonts/cerebrisanspro-regular.ttf") format("truetype"),
       url("/styles/fonts/cerebrisanspro-regular.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri";
  src: url("/styles/fonts/cerebrisanspro-bold.eot");
  src: url("/styles/fonts/cerebrisanspro-bold.eot?#iefix") format("embedded-opentype"),
       url("/styles/fonts/cerebrisanspro-bold.woff") format("woff"),
       url("/styles/fonts/cerebrisanspro-bold.ttf") format("truetype"),
       url("/styles/fonts/cerebrisanspro-bold.svg#Flaticon") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri";
  src: url("/styles/fonts/cerebrisanspro-italic.eot");
  src: url("/styles/fonts/cerebrisanspro-italic.eot?#iefix") format("embedded-opentype"),
       url("/styles/fonts/cerebrisanspro-italic.woff") format("woff"),
       url("/styles/fonts/cerebrisanspro-italic.ttf") format("truetype"),
       url("/styles/fonts/cerebrisanspro-italic.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Manchega";
  src: url("/styles/fonts/manchego_black.eot");
  src: url("/styles/fonts/manchego_black.eot?#iefix") format("embedded-opentype"),
       url("/styles/fonts/manchego_black.woff") format("woff"),
       url("/styles/fonts/manchego_black.ttf") format("truetype"),
       url("/styles/fonts/manchego_black.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}




