footer{
  background-color: $color-green;
  margin-top: 150px;
  min-height: 150px;
  .author{
    text-align: center;
    p, a{
        color: $color-white;
    }
    p{
        line-height: 150px
    }
    a{
        @include transition(0.3s);
        &:hover{
            text-decoration: underline;
            color: $color-orange;
        }
    }
  }
}